:root {
    --signature-green: #087455;
    --signature-yellow: #f4d950;
    --signature-red: #bf4640;

    --signature-blue: #1c3471;

    --signature-white: #f5f5f5;
    --signature-black: #141414;
    --signature-grey: #1e1e1e;

    --font-name: "Cascadia Code";
}

body {
    background-color: var(--signature-grey);

    margin: 0;

    font-family: var(--font-name), sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: var(--signature-white);
}

* {
    box-sizing: border-box;
}

.topnav {    
    overflow: hidden;
    background-color: var(--signature-black);
}

.topnav a {
    float: left;
    color: var(--signature-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
}

.topnav a.active {
    background-color: var(--signature-blue);
    color: white;
}

.topnav a:hover {
    background-color: var(--signature-white);
    color: var(--signature-black);
}

.topnav a:active {
    background-color: white;
    color: var(--signature-black);
}