.header {
    border-bottom: 3px solid var(--panel-border-grey);
}

.d3js {
    background-color: #b8b8b8;

    position: relative;
    flex: 1;
    min-width: 0;

    overflow-y: auto;
    overflow-x: hidden;

    height: 70vh;
}

.output {
    background-color: var(--black);

    font-size: var(--small-font-size);
    font-weight: var(--small-font-weight);

    margin: 0;
    flex: 1;
    overflow-y: auto;
    
    min-height: 10rem;

    overscroll-behavior: none;
}