.hero {
    min-height: 70vh;            
    background-image: url("../assets/images/index-background.png");
    background-size: cover;       
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align:center;
}

.hero h1, h2 {
    color: var(--signature-white);
    border: 5px solid var(--signature-white);
    box-shadow: 5px 10px var(--signature-blue);
    padding: 15px;
}

.hero h2 {
    box-shadow: -5px 10px var(--signature-blue);
}

.content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    gap: 2rem;

    justify-items: center;
}

.information {
    background-color: var(--signature-white);
    color: var(--signature-black);
    text-align: center;
    justify-items: center;
}

.button {
    background: none;
    color: var(--signature-white);

    font-family: var(--font-name), sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.2rem;
    text-align: left;

    border: 1px solid var(--signature-white);
    box-shadow: 5px 10px var(--signature-white);
    padding: 10px;
    width: 50%;

    cursor: pointer;
}

#tutorial {
    box-shadow: -5px 10px var(--signature-white);
}

.button:hover {
    color: var(--signature-grey);
    background-color: var(--signature-white);
}

.button:active {
    color: var(--signature-grey);
    background-color: white;
}

#sandbox:hover {
    box-shadow: 5px 10px var(--signature-green);
}

#tutorial:hover {
    box-shadow: -5px 10px var(--signature-yellow);
}

#tutorial-concurrency:hover {
    box-shadow: 5px 10px var(--signature-red);
}