.hero {
    min-height: 100vh;            
    background-image: url("../assets/images/dots-background.jpg");
    background-size: cover;       
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4rem;
    
    border-bottom: 1px dashed #929292;
}

.hero h1 {
    background-color: var(--black);

    border: 1px solid var(--white);
    box-shadow: 0 0 20px 2px #fdfdfd;

    padding: 16px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    height: 1.5em;
    width: auto;
}

.code-window {
    border: 1px dotted var(--white);
    width: 60%;
    min-width: 400px;
    
    margin-bottom: 2rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    gap: 2rem;

    justify-items: center;

    background-color: black;
    border-bottom: 1px dashed #929292
}

.button {
    background: var(--black);
    
    font-size: var(--small-font-size);
    font-weight: var(--small-font-weight);

    text-align: left;

    border: 1px solid var(--white);
    box-shadow: 5px 10px var(--white);
    padding: 10px;
    width: 50%;
    min-width: 300px;

    cursor: pointer;
}

.button:hover {
    color: var(--grey);
    background-color: var(--white);
}

.button:active {
    color: var(--grey);
    background-color: white;
}

#sandbox:hover {
    box-shadow: 5px 10px var(--green);
}

#tutorial:hover {
    box-shadow: 5px 10px var(--yellow);
}

#tutorial-concurrency:hover {
    box-shadow: 5px 10px var(--red);
}

.information {
    width: 100%; 
    aspect-ratio: 1 / 1;

    background-image: url("../assets/images/grid-background.jpg");
    background-size: cover;       
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;

    padding: 40px;
    gap: 8rem;

    border-bottom: 1px dashed #929292
}

.info-box {
    background-color: black;

    font-size: var(--small-font-size);
    font-weight: var(--small-font-weight);

    border: 1px solid var(--blue);
    width: 60%;
    min-width: 300px;
    padding: 40px;
}

.end {
    min-height: 85vh;            
    background-image: url("../assets/images/gopher-background.png");
    background-size: cover;       
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align:center;
}

.page-button {
    text-decoration: none;
}

.page-button:hover {
    text-decoration: underline;
}