.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex: 1;
    min-width: 0;

    background-color: var(--black);
    border-right: 5px solid grey;

    overflow-y: auto;
}

.right-panel {
    flex: 1;
    min-width: 0;

    display: flex;
    flex-direction: column;
}