.markdown {
    font-size: var(--small-font-size);
    font-weight: var(--small-font-weight);
    
    word-break: break-word;
    
    padding: 15px;
}

.markdown code {
    font-size: var(--markdown-code-font-size);

    color: var(--markdown-code-inline);
    background: var(--grey);

    border: 1px solid var(--border-grey);
    padding: 2px;
    border-radius: 7px;
}

.markdown pre code {
    color: var(--markdown-code-block);

    padding: 12px;

    overflow-x: auto;
    display: block;
}