.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.filename, .console-header {
    border-bottom: 3px solid #555;
}

.go-file-icon {
    width: 22px;
    height: 22px;
}

.editor {
    flex: 2;
    display: flex;
    min-height: 0;
}

.CodeMirror {
    border: none;
    outline: none;
    resize: none;

    /* TODO fix codemirror resizing */
    /*
    resize: vertical; 
    overflow: auto !important;
    height: 100%;
    */

    resize: auto;

    height: 100% !important;
    width: 100% !important;

    overscroll-behavior-y: none;

    padding: 0;
    line-height: 1.1;
}

.CodeMirror-code {
    font-family: var(--font-name), sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 1.2rem;
}

.button-wrapper {
    display: flex;
}

.button {
    background-color: var(--signature-black);
    color: var(--signature-white);

    font-family: var(--font-name), sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;

    border: none;
    padding: 10px;
    width: 50%;

    cursor: pointer;
}

.button:hover {
    background-color: #202020;
}

.button:active {
    background-color: #272727;
}

#run {
    background-color: #18223b;
    border: 1.5px solid var(--signature-white);
}

#run:hover {
    background-color: #1c2b4e;
}

#run:active {
    background-color: #23355d;
}

#run:disabled {
    background-color: var(--signature-black);
    color: #bebebe;
}

.button-icon {
    width: 18px;
    height: 18px;
}

.console {
    background-color: var(--signature-black);

    font-family: var(--font-name), sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--signature-white);

    margin: 0;
    flex: 1;
    overflow-y: auto;

    overscroll-behavior-y: none;
}

.console-error {
    color: var(--signature-red);
}

.error-message {
    background: #ffc2c2;
    border: 1px solid #363636;
    border-radius: 3px;
    visibility: hidden;

    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;

    color: var(--signature-black);
    font-size: 1rem;
    text-align: center;
}

#dismiss {
    background: none;
    color: var(--signature-black);

    font-family: var(--font-name), sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;

    border: 1.5px solid #363636;
    border-radius: 3px;

    padding: 10px;

    cursor: pointer;
}

#dismiss:hover {
    background-color: #fbb2b2;
}

#dismiss:active {
    background-color: #f5a0a0;
}

.error-visible {
  visibility: visible;
}