.container {
    display: flex;
    flex-direction: column;
}

.top-panel {
    display: flex;
    height: 75vh;
    flex-direction: column;
}

.bottom-panel {
    border-top: 5px solid grey;

    display: flex;
    flex-direction: column;
}