.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.file-header, .console-header {
    border-bottom: 3px solid #555;
}

.file-header {
    display: flex;
    align-items: center;
    gap: 3px;
}

.go-file-icon {
    width: 22px;
    height: 22px;
}

.editor {
    flex: 2;
    display: flex;
    min-height: 0;
}

.button-wrapper {
    display: flex;
}

button {
    background-color: var(--black);
    color: var(--white);

    font-size: 1.5rem;

    border: none;
    padding: 5px;
    width: 50%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    cursor: pointer;
}

button:hover {
    background-color: #202020;
}

button:active {
    background-color: #272727;
}

#run-button {
    background-color: #18223b;
    border: 1.5px solid var(--white);
}

#run-button:hover {
    background-color: #1c2b4e;
}

#run-button:active {
    background-color: #23355d;
}

#run-button:disabled {
    background-color: var(--black);
    color: #bebebe;
}

.button-icon {
    width: 18px;
    height: 18px;
}

.console {
    background-color: var(--black);

    font-weight: var(--small-font-weight);
    font-size: var(--code-font-size);

    margin: 0;
    flex: 1;
    overflow-y: auto;

    overscroll-behavior-y: none;
}

.console-error {
    color: var(--red);
}