.table-of-contents {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5rem;
    margin-bottom: 5rem;
}

.header {
    background-color: #061a44;
    color: var(--white);

    padding: 18px;
    width: 65%;

    border: 1px solid var(--white);
    text-align: left;
    outline: none;
}

.header button {
    background: none;
    border: none;
    padding: 0;
    color: #2c81dc;
    
    font-size: 1.4rem;

    cursor: pointer;
}

.header button:hover {
    text-decoration: underline;
}

.header h1 {
    font-size: 1.8rem;
}

.header p {
    font-size: 1.3rem;
}

.collapsible {
    background-color: var(--black);
    color: var(--white);

    padding: 18px;
    width: 65%;

    border: none;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);

    text-align: left;
    outline: none;

    cursor: pointer;
}

.collapsible h1 {
    font-size: 1.8rem;
}

.collapsible p {
    font-size: 1.3rem;
}

.collapsible:hover {
    background-color: var(--blue);
}

.active {
    background-color: var(--blue);
}

.section {
    background-color: var(--black);

    font-size: 1.3rem;

    padding: 0 30px 0 30px;
    width: 65%;
    max-height: 0;
    
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);

    overflow: hidden;

    transition: max-height 0.2s ease-out;
}

.section a {
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}