.table-of-contents {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 5rem;
}

.course {
    margin-top: 5rem;

    background-color: black;
    font-size: var(--small-font-size);

    padding: 18px;
    width: 65%;

    border: 1px solid var(--white);
    text-align: left;
    outline: none;

    position: relative;
}

.course button {
    background: none;
    border: none;
    padding: 0;
    color: #2c81dc;
    
    cursor: pointer;
}

.course button:hover {
    text-decoration: underline;
}

.course-icon {
    position: absolute;
    top: -2.5px;
    right: 15px;
}

.chapter {
    background-color: var(--black);

    font-size: var(--small-font-size);

    padding: 18px;
    width: 65%;

    border: none;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);

    text-align: left;
    outline: none;

    cursor: pointer;
}

.chapter:hover {
    background-color: var(--blue);
}

.active {
    background-color: var(--blue);
}

.topics {
    background-color: var(--black);

    font-size: var(--small-font-size);

    padding: 0 30px 0 30px;
    width: 65%;
    max-height: 0;
    
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);

    overflow: hidden;

    transition: max-height 0.2s ease-out;
}

.topics a {
    text-decoration: none;
}

.topics a:hover {
    text-decoration: underline;
}