.tutorial-nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    overflow: hidden;

    background-color: var(--grey);
    border-bottom: 1px solid grey;
}

.tutorial-nav button {
    width: 70%;
    border: 1.5px solid var(--yellow);
}

.tutorial-nav button:disabled {
    background-color: var(--black);
    color: #bebebe;
    cursor: default;
}

.tutorial-nav button:first-child {
    justify-self: start;
}

.tutorial-nav button:last-child {
    justify-self: end;
}

#current {
    text-align: center;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex: 1;
    min-width: 0;

    background-color: var(--black);
    border-right: 5px solid grey;

    word-break: break-word;
    overflow-y: auto;
    overscroll-behavior-y: none;

    font-size: var(--md-font-size);
    font-weight: var(--small-font-weight);
    
    padding: 10px;
}

.left-panel code {
    font-size: var(--md-code-font-size);

    color: #bc5a5a;
    background: var(--grey);

    border: 1px solid #4d4d4d;
    padding: 2px;
    border-radius: 7px;
}

.left-panel pre code {
    font-size: var(--md-code-font-size);

    color: #e6e6e6;
    background: var(--grey);

    border: 1px solid #4d4d4d;
    padding: 12px;
    border-radius: 7px;

    overflow-x: auto;
    display: block;
}

.right-panel {
    flex: 1;
    min-width: 0;

    display: flex;
    flex-direction: column;
}

.file-header, .console-header {
    border-bottom: 3px solid #555;
}

.file-header {
    display: flex;
    align-items: center;
    gap: 3px;
}

.go-file-icon {
    width: 22px;
    height: 22px;
}

.editor {
    flex: 2;
    display: flex;
    min-height: 0;
}

.button-wrapper {
    display: flex;
}

button {
    background-color: var(--black);
    color: var(--white);

    font-size: 1.5rem;

    border: none;
    padding: 5px;
    width: 50%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;
}

button:hover {
    background-color: #202020;
}

button:active {
    background-color: #272727;
}

#run-button {
    background-color: #18223b;
    border: 1.5px solid var(--white);
}

#run-button:hover {
    background-color: #1c2b4e;
}

#run-button:active {
    background-color: #23355d;
}

#run-button:disabled {
    background-color: var(--black);
    color: #bebebe;
}

.button-icon {
    width: 18px;
    height: 18px;
}

.console {
    background-color: var(--black);

    font-weight: var(--small-font-weight);
    font-size: var(--code-font-size);

    margin: 0;
    flex: 1;
    overflow-y: auto;

    overscroll-behavior-y: none;
}

.console-error {
    color: var(--red);
}