.tutorial-nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    background-color: var(--grey);
    border-bottom: 1px solid grey;
}

.tutorial-nav button {
    width: 70%;
}

.tutorial-nav button:first-child {
    justify-self: start;
}

.tutorial-nav button:last-child {
    justify-self: end;
}

.current {
    text-align: center;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex: 1;
    min-width: 0;

    background-color: var(--black);
    border-right: 5px solid grey;
}

.right-panel {
    flex: 1;
    min-width: 0;
}

button {
    background-color: var(--black);
    color: var(--white);

    font-size: 1.5rem;

    border: none;
    padding: 5px;
    width: 50%;

    cursor: pointer;
}

button:hover {
    background-color: #202020;
}

button:active {
    background-color: #272727;
}